@model IEnumerable<SeyahatRehberi.Models.BlogPosts>

@*@model List<BlogPosts>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}



<h1>Blog Posts</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Posted Date</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>@item.PostedDate</td>
                <td>@item.User.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

